a {
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
}

.landing-container {
    margin: 60px auto 0 auto;
    width: 590px;
}

.app-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.lists-container {
    display: inline-block;
    width: 160px;
    vertical-align: top;

    #task-lists {
        margin-top: 20px;

        li {
            cursor: default;
            padding: 10px 0;
        }
    }

    #new-list {
        margin-top: 10px;
    }
}

.todo-container {
    display: inline-block;
    width: 380px;
}

.auth-info {
    text-align: right;
}

#todo-form {
    padding-top: 20px;

    input {
        width: 260px;
    }
}

#todo-list {
    padding-top: 20px;

    .todo-item {
        padding: 8px 0;

        input {
            transform: scale(2);
            /* Webkit browsers*/
            -webkit-transform: scale(2);
        }
    }
}

.signin {
    padding-top: 20px;
}
