$brand-color: #409B9D;

a {
    color: $brand-color;
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
}

input[type="text"],
input[type="password"] {
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid rgba(67, 130, 143, 0.3);;
    border-radius: 0;
    font-size: 14px;
    height: 31px;
    line-height: 1.4;
    outline: none;
}

.landing-container {
    margin: 60px auto 120px auto;
    width: 590px;
}

.app-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.lists-container {
    display: inline-block;
    width: 160px;
    vertical-align: top;

    #task-lists {
        margin-top: 20px;

        li {
            cursor: default;
            padding: 10px 0;
            color: #aaa;

            &.selected-list {
                color: $brand-color;
                text-decoration: underline;
            }

            &:hover {
                color: $brand-color;
            }
        }
    }

    #new-list {
        width: 138px;
    }
}

.todo-container {
    display: inline-block;
    width: 380px;
}

.auth-container {

    #auth-landing {

        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        padding: 20px;

        h1 {
            color: #414141;
            font-size: 34px;
            font-weight: 100;
            line-height: 1.4;
            text-align: center;
        }

        h2 {
            color: #bbb;
            line-height: 1.2;
            text-align: center;
        }

        h3 {
            color: #414141;
            font-size: 21px;
            margin-top: 20px;
            text-align: center;
        }

        #signup-email,
        #signup-password,
        #signin-email,
        #signin-password {
            display: block;
            margin: 0 auto;
            width: 260px;
        }

        #signup-password,
        #signin-password {
            margin: 20px auto 0 auto;
        }

        button {
            color: #fff;
            background:  $brand-color;
            border: none;
            border-radius: 5px;
            display: block;
            font-size: 14px;
            height: 34px;
            margin: 20px auto 0 auto;
            vertical-align: 50%;
            width: 108px;
        }
    }

    .signin {
        padding-top: 20px;
    }
}

.auth-info {
    text-align: right;

    .user-email {
        color: #aaa;
    }
}
