<div class="auth-container">
    <div id="auth-landing">
        <div ng-hide="authData" class="signup">
            <h1>Reminders+</h1>
            <h2>An online alternative to the MacOS Reminders app</h2>
            <h3>Sign up</h3>
            <input id="signup-email" type="text" ng-model="signup.email" placeholder="Email">
            <input id="signup-password" type="password" ng-model="signup.password" placeholder="Password">
            <button ng-click="createUser()">Create User</button>
        </div>

        <div class="signin">
            <h3>Sign in</h3>
            <input id="signin-email" type="text" ng-model="signin.email" placeholder="Email">
            <input id="signin-password" type="password" ng-model="signin.password" ng-enter="signUserIn()" placeholder="Password">
            <button ng-click="signUserIn()">Sign In</button>
        </div>

        <div ng-show="authData" class="auth-info">
          <span ng-click="logSomeMethod()" class="user-email">{{ authData.password.email }}</span> &#8226; <a href="#" ng-click="logUserOut()">Logout</a>
        </div>
    </div>
</div>
