<div ng-controller="Auth.controller" class="landing-container">
    <div class="auth-container">
        <div ng-hide="authData" class="signup">
            <h3>Sign up</h3>
            Email: <input type="text" ng-model="signup.email">
            Password: <input type="password" ng-model="signup.password">
            <button ng-click="createUser()">Create User</button>
        </div>

        <div ng-hide="authData" class="signin">
            <h3>Sign in</h3>
            Email: <input type="text" ng-model="signin.email">
            Password: <input type="password" ng-model="signin.password" ng-enter="signUserIn()">
            <button ng-click="signUserIn()">Sign In</button>
        </div>

        <div ng-show="authData" class="auth-info">
          {{ authData.password.email }} | <a href="#" ng-click="logUserOut()">Logout</a>
        </div>
    </div>

    <div ng-show="authData">
        <nav>
            <ul>
                <li><a ui-sref="history">Task history</a></li>
            </ul>
        </nav>
        <form ng-controller="Landing.controller" id="todo-form" novalidate ng-submit="addTodo()">
            <select name="todoPriority" ng-model="newTodoObject.todoPriority" ng-options="option.name for option in priorityOptions track by option.value">
                <option value="" disabled required>Select Priority</option>
            </select>
            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodoObject.todoTitle" required>
            <div ng-model="priorityUndefinedTrue" ng-if="priorityUndefinedTrue">{{ priorityUndefinedError }}</div>
        </form>
        <section>
            <ul id="todo-list">
                <li ng-repeat="todo in todos | orderBy: '-priority'" ng-hide="hideExpired() || todo.completed === true">
                    <div class="view todo-item">
                        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
                        <label>{{todo.title}} <span>({{todo.priority}})</span></label>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
