<h1>todos</h1>
<nav>
    <ul>
        <li><a ui-sref="landing">Active tasks</a></li>
        <li><a ui-sref="history">Task history</a></li>
    </ul>
</nav>
<form id="todo-form" novalidate ng-submit="addTodo()">
    <select name="todoPriority" ng-model="todoPriority">
        <option>Select Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="urgent">Urgent</option>
    </select>
    <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" required>
</form>
<section>
    <ul id="todo-list">
        <li ng-repeat="todo in todos | orderBy: '-priority'" ng-hide="hideExpired() || todo.completed === true">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
                <label>{{todo.title}} <span>({{todo.priority}})</span></label>
            </div>
        </li>
    </ul>
</section>
